<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{YYYY/MM/DD HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <File name="logfile" fileName="log/apiserver.log" append="true">
            <PatternLayout pattern="%d{YYYY/MM/DD HH:mm:ss} %-5level %class{36} %L %M - %msg%xEx%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="logfile"/>
        </Root>
    </Loggers>
</Configuration>